---
import type { HTMLAttributes } from "astro/types";

interface Props extends Omit<HTMLAttributes<"a">, "title"> {
  title: string;
  description?: string;
  bg_image: string;
}

const { title, description, bg_image, ...attributes } = Astro.props;
---

<div class="sl-link-card flex flex-col">
  <a {...attributes}>
    <div class="flex-1 flex justify-center">
      {bg_image && <img src={bg_image} alt={description} height="200" />}
    </div>
    <div class="flex-1">
      <div class="grid">
        <span class="sl-flex stack">
          <span class="title" set:html={title} />
          {
            description && (
              <span class="description" set:html={description.slice(0, 100)} />
            )
          }
        </span>
      </div>
    </div>
  </a>
</div>

<style>
  .sl-link-card {
    grid-template-columns: 1fr auto;
    gap: 0.5rem;
    border: 1px solid var(--sl-color-gray-5);
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: var(--sl-shadow-sm);
    position: relative;
  }

  a {
    text-decoration: none;
    line-height: var(--sl-line-height-headings);
  }

  /* a11y fix for https://github.com/withastro/starlight/issues/487 */
  a::before {
    content: "";
    position: absolute;
    inset: 0;
  }

  .stack {
    flex-direction: column;
    gap: 0.5rem;
  }

  .title {
    color: var(--sl-color-white);
    font-weight: 600;
    font-size: var(--sl-text-lg);
  }

  .description {
    color: var(--sl-color-gray-3);
    line-height: 1.5;
  }

  .icon {
    color: var(--sl-color-gray-3);
  }

  /* Hover state */
  .sl-link-card:hover {
    background: var(--sl-color-gray-7, var(--sl-color-gray-6));
    border-color: var(--sl-color-gray-2);
  }

  .sl-link-card:hover .icon {
    color: var(--sl-color-white);
  }
</style>
